<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="signin.css" rel="stylesheet">
  </head>
<body>
    <div class="container">
      <img src="/templates/dwb.jpeg" width="350" height="150" class="d-inline-block align-top<aaa" alt="" loading="lazy">
      <h1>Please Login</h1>
      <br>
      <table>
        <tr>
          <th>
          <form action="" method="post">
            <label>Username</label>
            <input type="text" placeholder="Username" name="username" value="{{
              request.form.username }}"></form>
          </th>
        </tr>

        <tr>
          <th>
          <form action="" method="post">
            <label>Password</label>
            <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}"></form>
          </th>
        </tr>
        <tr>
          <th>
            <input class="btn btn-default" type="submit" value="Login">
          </th>
        </tr>
      </table>
    </div>
  </body>
</html>
