<html>
  <body>
    <h2>CASE NR. {{ case_id }}</h2>
    <form action = "/add" method = "post">

    <div>File Name:</div>          
    <div><input type = "text" name = "file_name" value="Invoice from XX"></div>
    <div>Description:</div>          
    <div><input type = "text" name = "file_description" value ="My invoice"></div>
    <div>Document Type: </div>          
    <div><input type = "text", name="file_type" value="INVOICE"></div>
    <div>Responsible:</div>
    <div>
        <select  name="users" method = "GET" action="/">
            {% for user in users %}
                <option value= "{{user["FULL NAME"]}}" SELECTED>{{ user["FULL NAME"] }}</option>
            {% endfor %}
        </select>
    </div>
    <input type="hidden"  name="case_id" value = {{ case_id }}>

    <div>Upload File :</div>          
    <div><input type = "text", name="type">
    <input type = "file" name = "file">
    </div>
    <input type = "submit">
    </form>
    
  </body>
</html>